/*MAIN COLOCACION*/

#colocacion div{
    margin-top: 2.5%;
    margin-bottom: 1%;
}

#video-cont{
    @extend .iframewrap_ex;

    iframe{
        position:absolute;
        top: 2.5%;
        left: 2.5%;   
        @include sizes(95%,95%);
    }
}

@media screen and (min-width:1200px) {
    #video-cont {
        width: 100%;
    }
}
