/*MAIN CONTACTO*/

#personal-data{
    border: 4px double $gris-secundario;
    margin: 1.5% 0.5%;
    padding: 2%;

    input{
        width: 100% ;
    }
}

// @media screen and (min-width:768px) {
//     #personal-data{
//     }
// }

#hand-data{
    border: 4px double $gris-secundario;
    margin: 1.5% 0.5%;
    font-size: small;
}


#design{
    border: 4px double $gris-secundario;
    margin: 1.5% 0.5%;
}
