/*MAIN CONTACTO*/
/*First box*/
#personal-data{
    @extend .contact-boxes;

    input{
        width: 100% ;
    }
}

label:not(.option){   
    font-family: $fuente-form;
    text-shadow:1px 1px 3px white;
}
    
#quant-row{
    input{
        width:50px;
    }
}

#deliver-row{
    input{
        width: 75px;
        margin: 5px 0;
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
}

/*Second Box*/
#hand-data{
    @extend .contact-boxes;
    font-size: small;
}

/*Third box*/
#design{
    @extend .contact-boxes;
}