/*MAIN CONTACTO*/
/*First box*/
img{
    width: 100%;
}

@media screen and (max-width:576px) {
    label{
        font-size: small;
    }
}

@media screen and (min-width:576px) {
    label{
        font-size: medium;
    }
}

#personal-data{
    @extend .contact-boxes;

    input{
        width: 100%;
        @extend .text-input-ellipse;
    }
}

label:not(.option){   
    font-family: $fuente-form;
    text-shadow:1px 1px 3px white;
}

    
#quant-row{
    input{
        width:50px;
    }
}

#deliver-row{
    input{
        width: 75px;
        margin: 5px 0;
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
}

/*Second Box*/
#hand-data{
    @extend .contact-boxes;
    font-size: small;

    input{
        width: 50%;
        @extend .text-input-ellipse;
    }

    p{
        font-weight: bolder;
        font-size: medium;
    }
}

.hand-img{
    border-radius: 100px;
    box-shadow: 0px 0px 5px white ;
    background-color: gainsboro;
    margin:10px 5px;
}

#medicion{
    img{
        height: 95vh;
        border-radius: 15px;
    }
}



/*Third box*/
#design{
    @extend .contact-boxes;
}
