/* Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Nunito', sans-serif;
}

body{
    background-image: url("../img/background-image.jpg");
}

img{
    max-width: 100%;
}

#grilla{
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 576px) {
    header{
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

main{
    grid-area: main;
}

footer{
    grid-area:footer;
}

/* HEADER*/
.cabecera{
    width: 99.1vw;
    border: 6px solid black;
}

@media screen and (min-width: 576px) {
    .cabecera{
        width: 99.1vw;
        border: none;
    }
}

.titulo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    font-family: $fuente-principal;
    font-weight: 700;
    font-size:0;
    margin:0;
    background-image: url("../img/bground.jpg");
    background-size: cover;
    text-shadow: 5px 5px 5px $gris-secundario;
    
    img{
        max-width: 100%;
        padding: 4px;
    }
}

@media screen and (min-width: 576px) {
    .titulo{
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
        font-family: $fuente-principal;
        font-weight: 700;
        font-size:60px;
    }
} 

@media screen and (min-width: 576px) {
    .titulo img{
        @include sizes(15rem,15rem);
        padding: 10px;
    }
}

.titulo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 5px solid black;
    border-right: none;
}

@media screen and (min-width: 576px) {
    .titulo-principal{
        border-bottom: 0;
        border: 6px solid black;
    }
}

/*Lista*/

.nav{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-wrapper{
    @include sizes(100%,100%);
}

.nav-list{
    @include sizes(100%,100%);
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-family: 'Nunito', sans-serif;

    li{
        height: 100%;
        display: flex;
        justify-content:flex-start;
        text-align: center;
        margin-top: 1px;
        border: 2px solid black;
        border-right: none;
        border-left: none;

        a{
            width: 100%;
            padding-left: 10%;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: medium;
            letter-spacing: 0.1rem;
            font-weight: bold;
            color: $rojo-primario;
            background-image: url("../img/bground.jpg");
            text-shadow: 2px 2px 5px $rojo-terciario;
        }
    }

    & a:active{
        transition: all;
        background-image: url("../img/bg-hover.jpg");
        color: $rojo-secundario;
        text-shadow: 1px 1px 10px white;
    }

    & li:first-of-type{
        margin:0;
        border-top: none;
    }

    & li:last-of-type{
        border-bottom: none;
    }
}

@media screen and (min-width: 576px) {
    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

@media screen and (min-width: 576px) {
    .nav-list li{
        width: auto;
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        border: none;
        margin: 0;
    }
}

@media screen and (min-width: 576px) {
    .nav-list li>a{
        width: 110px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 6px solid black;
        border-top: none;
        letter-spacing: normal;
        font-size: medium;
        text-shadow: 2px 2px 2px #cecece;
        }

        .nav-list a:hover{
            transition: all 0.5s;
            background-image: url("../img/bg-hover.jpg");
            background-size: contain;
            background-color: $negro-primario;
            color: $rojo-terciario;
            text-shadow: 2px 2px 2px $gris-secundario;
        }
        
    
}

/* MAIN GENERAL*/

main{
    width: 100%;
    margin: 0 auto;

    section{
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        padding: 2px;
        background-color: $rojo-background;
        border: 2px dotted $rojo-primario;
        border-radius: 2%;
    }
}

a{
    color:#ffffff;
}

.titulos_ex{
    text-align: center;
    font-size: 45px;
    margin: 25px auto;
    font-family: $fuente-principal;
    font-weight: 400;
    color: $negro-primario;
}

h2{
    @extend .titulos_ex;
    text-shadow: 2px 2px 2px $rojo-primario;
}

h3{
    @extend .titulos_ex;
    font-size: 35px;
    color:white;
    text-shadow: 1px 1px 2px $rojo-primario;
    background-image:linear-gradient(to right , $rojo-background, $rojo-terciario, $rojo-background);
    padding: 2%;
}

p{
    margin: 15px;
    color:$gris-secundario;
}
b{
    color:$negro-primario;
}

strong{
    color:$negro-primario;
}

/* FOOTER */
footer{
    border-top: 10px double $rojo-secundario;
    background-color: black;
    color:white;
    padding-bottom: 10px;

    h2{
        color: white;
        text-shadow: 3px 5px 5px $rojo-primario;
    }

    img {
        @include sizes(12%,12%);
    }

    div{
        text-align: center;
    }

}

@media screen and (min-width: 768px){
    footer img{
        @include sizes(7%,7%);
    }
}

.sociales span{
    display: block;
}

.iframewrap_ex{
    position: relative;
    padding-bottom: 50%;
    height: 0 ;
    overflow: hidden;
}

.contact-boxes{
    border: 1px solid $rojo-primario;
    box-shadow: 0px 0px 6px $rojo-primario;
    margin: 1.5% 2%;
    padding: 1%;
    background-color: $rojo-terciario;
}

.text-input-ellipse{
    border-radius:25px;
    padding-left: 6px;
    border: 1px dashed $rojo-secundario;
}