/* MAIN INDEX*/
#tiposSec{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.beneficios-list li{
    margin: 0 20px;
}

.setTipos{
    display: flex;
    flex-direction: column;
    margin: 2% 5%;

    h3{
        padding: 15px;
        background-image: radial-gradient($rojo-primario,$rojo-secundario,$rojo-background);
        background-size: auto;
        color: white;
        text-shadow: 3px 3px 2px $gris-secundario;
        border-radius: 50%;
    }

    img{
        max-width: 100%;
        max-height: 100%;
        border: 5px dotted $rojo-primario;
        background-color:$gris-secundario;
        border-radius: 5%;
    }
}


@media screen and (min-width: 768px){
    .setTipos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        column-gap: 10%;
    }

    .setTipos>*{
        flex: 1 1 0;
    }
}

/*SET SIMPLE*/
.setCard{
    display: grid;
    grid-template-areas:
    "title title"
    "leftBox rightBox";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    column-gap: 2px;
    justify-content: center;
    align-content: center;
    font-size: small;

    p{
        padding: 6%;
        border: 2px groove $rojo-secundario;
        font-style: italic;
        text-shadow: 1px 1px 3px $rojo-primario;
        background-image: radial-gradient(white 85%,$rojo-primario);
        align-self: center;
        border-radius: 4%;
    }

    h3{
        grid-area: title;
    }

    img{
        align-self: center;
    }
}    


@media screen and (min-width: 536px) {
    .setCard{
        font-size: medium;
    }
    
}


@media screen and (min-width: 768px){
    .setCard{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: medium;
    }
}

/*SET SIMPLE Y SET FULL */
#setSimple img, #setFull img{
    grid-area: leftBox;
}    
#setSimple p, #setFull p{
    grid-area: rightBox;
}    

/*SET DISEÑO*/

#setDiseño img{
    grid-area: rightBox ;
}
#setDiseño p{
    grid-area: leftBox ;
}

.aclaracion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 4px double $rojo-primario; 
    
}
