#nosotros-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.img-wrapper{
    background-image: radial-gradient($rojo-primario,white );
    border-radius: 50%;
    padding: 2% 10%;

    img{
        border-radius: 50%;
    }
}

@media screen and (min-width:768px) {
    #nosotros-wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        font-size: larger;
        line-height: 2rem ;
    }

    .img-wrapper{
        padding: 1.5%;
        align-self: center;
        justify-self: center;

    }

}

#iframe-wrapper{
    @extend .iframewrap_ex;
    background-color: gainsboro;
    margin-bottom: 5%;
    border: 10px dashed $gris-secundario;

    iframe{
        position:absolute;
        top: 5%;
        left: 5%;   
        @include sizes(90%,90%);
    }
}