/*MAIN TRABAJOS*/
.carousel-inner{
    background-image: radial-gradient($rojo-secundario 0%,$rojo-background );
    border: 1px solid $rojo-background;
    border-radius: 5%;

    .carousel-item>img{
        padding: 5px;
        width: 50%;
        margin: 0 auto;
        max-height: 630px;
    }
}
