/*Fuentes*/
$fuente-principal:'Dancing Script', cursive;
$fuente-secundaria:'Nunito', sans-serif;

/*Paleta de colores*/
$rojo-primario:#ff0400;
$rojo-secundario:#ff3936;
$rojo-terciario:#ff7673;
$rojo-background:#f88c8a;
$negro-primario:#191919;
$gris-secundario:#404040;

/*Mixin*/
@mixin sizes($ancho,$alto) {
    width: $ancho;
    height: $alto;
}