/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@400;700&family=Nunito:ital,wght@0,500;1,300&display=swap');

$fuente-principal:'Dancing Script', cursive;
$fuente-secundaria:'Nunito', sans-serif;
$fuente-form:'Comfortaa', cursive;

/*Paleta de colores*/
$rojo-primario:#ff0400;
$rojo-secundario:#ff3936;
$rojo-terciario:#ff7673;
$rojo-background:#f88c8a;
$negro-primario:#191919;
$gris-secundario:#404040;

/*Mixin*/
@mixin sizes($ancho,$alto) {
    width: $ancho;
    height: $alto;
}